.fc,
.fc *,
.fc .fc-daygrid-day,
.fc .fc-timegrid-slot,
.fc .fc-scrollgrid,
.fc .fc-scrollgrid-section,
.fc .fc-scrollgrid-sync-table,
.fc .fc-scrollgrid-sync-inner,
.fc .fc-scrollgrid-section-body td,
.fc .fc-scrollgrid-section-body th {
  border-color: var(--border) !important;
}

.fc-popover-header,
.fc-popover-title {
  color: var(--color-primary) !important;
  background-color: var(--color-popover) !important;
}

.fc-popover,
.fc-more-popover {
  background-color: var(--color-popover) !important;
  border-color: var(--border) !important;
}
